<div>
    <h2 ngClass="write" [ngStyle]="{'color':isStartingSoon()?'blue':''}" [ngStyle]="{'color':isEndingSoon()?'red':''}">{{courseData.name}}</h2>

    <h3 ngClass="write"
        [ngClass]="{'hourNumber30': courseData.hourNumber<=30, 'hourNumber60': courseData.hourNumber>30&&courseData.hourNumber<=60,'hourNumberBig':courseData.hourNumber>60}">
        {{courseData.hourNumber}} שעות</h3>
    <h3 ngClass="write" *ngIf="IfFrontalOrLaboratory(courseData.type)">שם מרצה: {{courseData.teacherName}}</h3>
    <p>תאריך התחלה: {{courseData.startDate | date:"dd/MM/YYYY"}}, תאריך סיום: {{courseData.endDate|date:"dd/mm/yyyy"}}</p>
    <button  *ngIf="btnRegistare" (click)="registrationForTheCourse()">להרשמה לקורס</button>
    <button *ngIf="btnCancelRegistare" (click)="cancelRegistrationForTheCourse()">ביטול רישום</button>

</div>