.hourNumber30{
    color: green;
}
.hourNumber60{
    color: orange;
}
.hourNumberBig{
    color: red;
}
.write{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
// .even{
//     background-color: rgb(217, 159, 190);
// }
// .odd{
//     background-color: rgb(209, 104, 160);
// }
// .in_bold{
//     background-color: yellow;
// }
// .in_some_bold{
//     background-color: rgb(251, 251, 147);
// }